@model IEnumerable<Ciqual.Models.Famille>

@{
    ViewData["Title"] = "Index";
}

<h2>Familles d'aliments</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodeFamille)
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["TriParNom"]">
                    @Html.DisplayNameFor(model => model.Nom)
                </a>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodeFamille)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
            </tr>
        }
    </tbody>
</table>
