@model TodoList.Models.TacheVM

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@{ 
    int nbTacheTerminee = (int)ViewBag.nbTacheTerminee;
    string phrase = nbTacheTerminee > 1 ? "taches terminées sur" : "tache terminée sur";
}
<div>@nbTacheTerminee @phrase @Model.Taches.Count()</div>

<div>
    <input asp-controller="Taches" asp-for="Taches">
    <button value="TSelect">Filtrer</button>


</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Taches[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Taches[0].DateCreation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Taches[0].DateEcheance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Taches[0].Terminee)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Taches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEcheance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
